<md-card>      
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <a routerLink="/projects/{{project.id}}/shootingdays" class="breadcrumb">Shooting Day Reports</a>
    <span class="breadcrumb">#{{shootingDay.number}} - {{shootingDay.date | date}}</span>
</md-card>
<md-card>
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="33%">
            <input mdInput type="time" placeholder="Start" required [(ngModel)]="shootingDay.startString" name="shooting_day_start" (blur)="updateShootingDay()" />
        </md-input-container>
        <md-input-container fxFlex="33%">
            <input mdInput type="time" placeholder="Turn" required [(ngModel)]="shootingDay.turnString" name="shooting_day_turn" (blur)="updateShootingDay()" />
        </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="33%">
            <input mdInput type="time" placeholder="Wrap" required [(ngModel)]="shootingDay.endString" name="shooting_day_end" (blur)="updateShootingDay()" />
        </md-input-container>
        <md-input-container fxFlex="33%">
            <input mdInput type="string" placeholder="Overtime" required [(ngModel)]="shootingDay.overTime" name="shooting_day_overtime" (blur)="updateShootingDay()" />
        </md-input-container>
    </div>
</md-card>