<md-card>      
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <a routerLink="/projects/{{project.id}}/shootingdays" class="breadcrumb">Shooting Day Reports</a>
    <span class="breadcrumb">#{{shootingDay.number}} - {{shootingDay.date | date}}</span>
</md-card>
<md-card>
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="33%">
            <input mdInput type="time" placeholder="Start" required [(ngModel)]="shootingDay.startString" name="shooting_day_start" (blur)="updateShootingDay()" />
        </md-input-container>
        <md-input-container fxFlex="33%">
            <input mdInput type="time" placeholder="Turn" required [(ngModel)]="shootingDay.turnString" name="shooting_day_turn" (blur)="updateShootingDay()" />
        </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="33%">
            <input mdInput type="time" placeholder="Wrap" required [(ngModel)]="shootingDay.endString" name="shooting_day_end" (blur)="updateShootingDay()" />
        </md-input-container>
        <md-input-container fxFlex="33%">
            <input mdInput type="string" placeholder="Overtime" required [(ngModel)]="shootingDay.overTime" name="shooting_day_overtime" (blur)="updateShootingDay()" />
        </md-input-container>
    </div>
</md-card>
<div fxLayout="row">
    <md-card fxFlex="25%">
        <md-input-container>
            <input mdInput type="string" placeholder="Previous setups" [(ngModel)]="shootingDay.previousSetupCount" name="shooting_day_previous_setup_count" disabled />
        </md-input-container>
        <md-input-container>
            <input mdInput type="string" placeholder="New setups" [(ngModel)]="shootingDay.slates.length" name="shooting_day_new_setups" disabled />
        </md-input-container>
        <md-input-container>
            <input mdInput type="string" placeholder="Total setups" [(ngModel)]="shootingDay.previousSetupCount + shootingDay.slates.length" name="shooting_day_total_setups" disabled />
        </md-input-container>
    </md-card>
    <md-card fxFlex="75%">
        <div>
            <b>Slates:</b> 
        </div>
        <div>
            <a *ngFor="let slate of shootingDay.slates"
                routerLink="/projects/{{project.id}}/slates/{{slate.id}}">
                {{slate.number}}&nbsp;
            </a>
        </div>
        <div>
            <b>Camera rolls:</b> 
        </div>
        <div>
            <span *ngFor="let roll of shootingDay.cameraRolls">
                {{roll}}&nbsp;
            </span>
        </div>
        <div>
            <b>Sound rolls:</b> 
        </div>
        <div>
            <span *ngFor="let roll of shootingDay.soundRolls">
                {{roll}}&nbsp;
            </span>
        </div>
    </md-card>
</div>