<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/admin/users" class="breadcrumb">Users</a>
        <span class="breadcrumb">{{user.firstName}} {{user.lastName}}</span>
    </div>
</div>
<h3>Projects</h3>
<div class="row">
    <form class="col s12"
            id="project_search_form"
            #projectSearchFrom = "ngForm"
            (ngSubmit)="addProject()">
        <div fxLayout="row" fxLayoutGap="10px">
            <admin-search-project fxFlex="50%" [searchProject]="searchProject"></admin-search-project>
            <button fxFlex="50%" md-raised-button type="submit"[disabled]="!projectSearchFrom.form.valid">Add</button>            
        </div>
    </form>
</div>
<div class="row" *ngIf="projects.length">
    <table class="col s12">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projectUser of projects">
                <td>
                    <a routerLink="/admin/projectusers/{{projectUser.id}}">{{projectUser.project.title}}</a>
                </td>
                <td>
                    <button md-button (click)="removeProject(projectUser)"><md-icon>delete</md-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>