<div class="search-container">
    <md-input-container class="search-input-container">
        <input md-input placeholder="Item" id="breakdown_item_name" required [(ngModel)]="searchBreakdownItem.name" #breakdownItem="ngModel" name="breakdown_item_name"  (keyup)="doSearch()" (blur)="clearSearch()" />
    </md-input-container>
    <ul class="autocomplete-content" *ngIf="searchResults.length>0">
        <li (mousedown)="setResult(result)"*ngFor="let result of searchResults">
            <span raccord-highlight [search]="searchBreakdownItem.name" [text]="result.name" classToApply="highlight"></span>
        </li>
    </ul>
</div>