<h1 md-dialog-title>
    Edit Scene
</h1>
<md-dialog-content>
    <div fxLayout="row">
        <md-radio-group [(ngModel)]="shootingDayScene.completion">
            <md-radio-button value="0">Not Started</md-radio-button>
            <md-radio-button value="1">Part Completed</md-radio-button>
            <md-radio-button value="2">Completed</md-radio-button>
        </md-radio-group>
    </div>
    <div fxLayout="row">
        <md-input-container>
            <input mdInput placeholder="Pagelength" id="shootingdayscene_pagelength" [(ngModel)]="shootingDayScene.pageLengthString" #pagelength="ngModel" name="shootingdayscene_pagelength">
        </md-input-container>
    </div>
    <div fxLayout="row">
        <md-input-container>
            <input mdInput placeholder="Timings" id="shootingdayscene_timings" [(ngModel)]="shootingDayScene.timings" #timings="ngModel" name="shootingdayscene_timings">
        </md-input-container>
    </div>
    <div fxLayout="row">
        <md-select fxFlex="25%" mdInput placeholder="Set" [(ngModel)]="shootingDayScene.locationSet.id" #locationset="ngModel" name="shootingdayscene_locationset">
            <md-option [value]="0">---</md-option>
            <md-option *ngFor="let set of shootingDayScene.availableLocationSets" [value]="set.id">{{ set.location.name }}</md-option>
        </md-select>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button (click)="submit()">Yes</button>
</md-dialog-actions>