<form class="col s12"
        id="scene_form"
        #sceneForm = "ngForm"
        (ngSubmit)="doSceneSubmit()">
    <div class="row">
        <div class="input-field col s2">
            <input type="text" id="scene_number" [(ngModel)]="scene.number" #title="ngModel" name="scene_number" class="validate" />
            <label for="scene_number" [class.active]="scene.number">No</label>
        </div>
        <search-int-ext [sceneIntExt]="scene.intExt"></search-int-ext>
        <search-day-night [sceneDayNight]="scene.dayNight"></search-day-night>
        <search-location [sceneLocation]="scene.location"></search-location>
    </div>
    <div class="row">
        <div class="input-field col s8">
            <input type="text" id="scene_summary" required [(ngModel)]="scene.summary" #summary="ngModel" name="scene_summary" class="validate" />
            <label for="scene_summary" [class.active]="scene.summary">Summary</label>
        </div>
        <div class="input-field col s4">
            <input type="text" id="scene_pagelength" required [(ngModel)]="scene.pagelength" #pagelength="ngModel" name="scene_pagelength" class="validate" />
            <label for="scene_pagelength" [class.active]="scene.pagelength">Page Length</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button type="submit" class="waves-effect waves-light btn right" [disabled]="!sceneForm.form.valid">Save</button>
        </div>
    </div>
</form>