<h3 mat-dialog-title>Add User</h3>
<form id="projects-add-user-form"
  #projectsAddUserForm = "ngForm"
  (ngSubmit)="submit()">
  <mat-dialog-content>
    <div fxLayout="row">
      <mat-form-field>
        <input required matInput placeholder="First Name" [(ngModel)]="user.firstName" name="user-firstname">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field>
        <input required matInput placeholder="Last Name" [(ngModel)]="user.lastName" name="user-lastname">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field>
        <input required matInput placeholder="Email" [(ngModel)]="user.email" name="user-email">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field>
        <input required type="password" matInput placeholder="Password" [(ngModel)]="user.password" name="user-password">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field>
        <mat-select 
          mdInput placeholder="Role" 
          [(ngModel)]="chosenRoleId" 
          #projectRole="ngModel" 
          name="user-role">
          <mat-option [value]="">---</mat-option>
          <mat-option *ngFor="let projectRole of availableRoles" [value]="projectRole.id">{{projectRole.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!projectsAddUserForm.form.valid">Save</button>
  </mat-dialog-actions>
</form>