<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <span class="breadcrumb">{{project.title}}</span>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content">
                <a routerLink="/projects/{{project.id}}/scenes" class="card-title">Scenes</a>
            </div>
        </div>
    </div>
</div>