<mat-nav-list>
  <a mat-list-item routerLink="/">My Dashboard</a>
  <a mat-list-item routerLink="{{getProfileLink()}}">My Profile</a>
  <a mat-list-item routerLink="{{getAdminLink()}}" *ngIf="isAdmin()">Admin</a>
  <mat-divider *ngIf="currentProject"></mat-divider>
  <a mat-list-item 
    routerLink="{{getProjectLink(currentProject)}}"
    *ngIf="currentProject">
    <project-avatar [listAvatar]="true" [project]="currentProject"></project-avatar>
    &nbsp;
    {{currentProject.title}}
  </a>
</mat-nav-list>