<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/breakdown" class="breadcrumb">Breakdown</a>
        <span class="breadcrumb">{{breakdownType.name}}</span>
    </div>
</div>
<div class="row">
    <edit-breakdown-item [breakdownItem]="viewNewBreakdownItem" (submitBreakdownItem)="addBreakdownItem()"></edit-breakdown-item>
</div>
<div class="row">
    <md-nav-list [dragula]='"breakdown-item-bag"' 
                 [dragulaModel]='breakdownItems'>
        <a md-list-item routerLink="/projects/{{project.id}}/breakdown/items/{{breakdownItemWrapper.breakdownItem.id}}" 
           *ngFor="let breakdownItemWrapper of breakdownItems"
           [ngClass]="{'can-delete': breakdownItemWrapper.breakdownItem.sceneCount==0}"
           class="drag-element drag-delete drag-merge">
           <md-icon class=drag-handle>drag_handle</md-icon>
            <show-image *ngIf="breakdownItemWrapper.breakdownItem.primaryImage.id!=0" [image]="breakdownItemWrapper.breakdownItem.primaryImage" [listAvatar]="true"></show-image>
            {{breakdownItemWrapper.breakdownItem.name}} ({{breakdownItemWrapper.breakdownItem.sceneCount}})
            <span class="drop-container drop-merge-container"
                  [dragula]='"breakdown-item-bag"' 
                  [dragulaModel]='breakdownItemWrapper.dropBreakdownItems'
                  *ngIf="draggingToMerge">
                <md-icon>merge_type</md-icon>                
            </span>
        </a>
    </md-nav-list>
</div>
<div class="delete-breakdown-item drop-container drop-delete-container" 
     [dragula]='"breakdown-item-bag"'
     *ngIf="draggingToDelete" 
     [dragulaModel]='deleteBreakdownItems'>
    <md-icon>delete</md-icon>
</div>