<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <span class="breadcrumb">Schedule</span>
    </div>
</div>
<div class="row">
    <form class="col s12"
            id="new_schedule_day_form"
            #newScheduleDayForm = "ngForm"
            (ngSubmit)="addScheduleDay()">
        <div fxLayout="row" fxLayoutGap="10px">
            <md-input-container fxFlex="33%">
                <input md-input type="date" required [(ngModel)]="viewNewScheduleDay.date" #newDate="ngModel" name="new_schedule_day_date" />
            </md-input-container>
            <button fxFlex="33%" md-raised-button type="submit"[disabled]="!newScheduleDayForm.form.valid">Add</button>            
        </div>
    </form>
</div>
<!-- TODO: refactor to use calendar -->
<div class="row">
    <div class="col s12">
        <div class="row schedule-day-row"
             *ngFor="let scheduleDay of scheduleDays">
             {{scheduleDay.date | date}}
        </div>
    </div>
</div>