<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <span class="breadcrumb">Schedule</span>
    </div>
</div>
<div class="row">
    <form class="col s12"
            id="new_schedule_day_form"
            #newScheduleDayForm = "ngForm"
            (ngSubmit)="addScheduleDay()">
        <div fxLayout="row" fxLayoutGap="10px">
            <md-input-container fxFlex="33%">
                <input md-input type="date" required [(ngModel)]="viewNewScheduleDay.date" #newDate="ngModel" name="new_schedule_day_date" />
            </md-input-container>
            <button fxFlex="33%" md-raised-button type="submit"[disabled]="!newScheduleDayForm.form.valid">Add</button>            
        </div>
    </form>
</div>
<!-- TODO: refactor to use calendar -->
<div class="row">
    <div class="col s12">
        <div class="row schedule-day-row"
             *ngFor="let scheduleDay of scheduleDays">
             <div class="col s12">
                 <div class="row">
                     <h4>{{scheduleDay.date | date}}</h4>
                 </div>
                 <!-- TODO: Add start- end time -->
                 <div class="row">
                     <h5>Scenes</h5>
                 </div>
                 <div class="row">
                    <select-entity fxFlex="33%"
                                [projectId]="project.id"
                                [includeTypes]="sceneType"
                                (entitySelected)="addScheduleScene($event, scheduleDay)">
                    </select-entity>
                 </div>
                 <div class="row">
                    <md-nav-list>
                        <a md-list-item 
                        [routerLink]="[scheduleScene.id]" 
                        *ngFor="let scheduleScene of scheduleDay.scenes">
                            <show-image *ngIf="scheduleScene.scene.primaryImage.id!=0" [image]="scheduleScene.scene.primaryImage" [listAvatar]="true"></show-image>
                            {{scheduleScene.scene.number}}. {{scheduleScene.scene.intExt.name}} {{scheduleScene.scene.location.name}} {{scheduleScene.scene.dayNight.name}} - {{scheduleScene.scene.summary}} ({{scheduleScene.pageLength | pagelength}})
                            <button md-button (click)="removeScheduleScene($event, scheduleScene)"><md-icon>delete</md-icon></button>
                        </a>
                    </md-nav-list>
                 </div>
                 <div class="row">
                     <span class="col s12">
                         Total page length: {{getScheduledPageLength(scheduleDay) | pagelength}}
                     </span>
                 </div>
                 <!-- TODO: Add notes -->
             </div>
        </div>
    </div>
</div>