<mat-toolbar color="primary" class="raccord-toolbar">
  <button
    *ngIf="loggedIn()"
    mat-icon-button 
    (click)="doToggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Raccord</span>
  <span class="toolbar-fill-remaining-space"></span>
  <span *ngIf="loggedIn()">
    <user-avatar
      class="toolbar-user-avatar"
      [userId]="getUserId()"
      [fullName]="getUserName()"
      [hasImage]="getHasImage()"
      [matMenuTriggerFor]="navMenu"></user-avatar>
    <mat-menu #navMenu="matMenu">
      <a routerLink="{{getProfileLink()}}" mat-menu-item><mat-icon>account_box</mat-icon>Profile</a>
      <button mat-menu-item (click)="logOff()"><mat-icon>exit_to_app</mat-icon>Log out</button>
    </mat-menu>
  </span>
</mat-toolbar>