<mat-table #projectuserinvitationstable [dataSource]="projectUserInvitations">

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let projectUserInvitation">
      <placeholder-image [value]="getFullName(projectUserInvitation)" [listAvatar]="true"></placeholder-image>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let projectUserInvitation">
      <a routerLink="/admin/projectuserinvitations/{{projectUserInvitation.id}}" [queryParams]="{src: 'project'}">{{getFullName(projectUserInvitation)}}</a>
    </mat-cell>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
    <mat-cell *matCellDef="let projectUserInvitation">
      {{projectUserInvitation.projectRole.name}}
    </mat-cell>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let projectUserInvitation">
      <button mat-icon-button (click)="doShowConfirmRemove(projectUserInvitation)"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>