//breadcrumbs
.breadcrumb{
    color: black;
}

.breadcrumb:last-child{
    color: grey;
}

.click-link{
    cursor: pointer;
}

.card-icons-action{
    padding-bottom: 30px !important;
}

nav .nav-search-input-field input {
    height: 100%;
    font-size: 1.2rem;
    border: none;
    padding-left: 4rem;
    background-color: #fff;
    box-shadow: none;
    color: #444;
}

.nav-search-input-field .nav-search-icon {
    position: absolute;
    top: 0;
    color: #444;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}

.nav-search-icon-left{
    left: 1rem;
}

.nav-search-icon-right{
    right: 1rem;
}

.navbar-search-result-container{
    background: white;
}

.top-loader{
    margin: 0 0;
    position: absolute;
    z-index:998;
}