<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <span class="breadcrumb">{{project.title}}</span>
    </div>
</div>
<div class="row">
    <div class='md-padding' layout="row" layout-wrap>
        <md-card class="project-landing-card">
            <md-card-header>
                <md-card-title>
                    <a routerLink="/projects/{{project.id}}/scenes" class="card-title">Scenes</a>
                </md-card-title>
            </md-card-header>
        </md-card>
        <md-card class="project-landing-card">
            <md-card-header>
                <md-card-title>
                    <a routerLink="/projects/{{project.id}}/locations" class="card-title">Locations</a>
                </md-card-title>
            </md-card-header>
        </md-card>
    </div>
</div>