<md-card>
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <span class="breadcrumb">{{project.title}}</span>
</md-card>
<div class="row">
    <div>
        <md-card *ngIf="false">
        </md-card>
        <md-card class="project-landing-card" *ngIf="getCanRead()">
            <md-card-title>Script</md-card-title>
            <md-card-content>
                <md-nav-list>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scripttext">
                        View Script
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scripttext/user">
                        View My Script
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scriptuploads"
                        *ngIf="getCanEdit()">
                        Upload Script
                    </a>
                    <h3 mdSubheader>Scenes</h3>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scenes/edit"
                        *ngIf="getCanEdit()">
                        Edit Scenes
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scenes">
                        View Scenes
                    </a>
                    <h3 mdSubheader>Timings</h3>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scenes/timings">
                        Timings
                    </a>
                    <h3 mdSubheader>Script Locations</h3>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scriptlocations/edit"
                        *ngIf="getCanEdit()">
                        Edit Locations
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/scriptlocations">
                        View Locations
                    </a>
                    <h3 mdSubheader>Settings</h3>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/sceneproperties">
                        Scene Properties
                    </a>
                </md-nav-list>
            </md-card-content>
        </md-card>
        <md-card class="project-landing-card" *ngIf="getCanRead()">
            <md-card-title>Cast</md-card-title>
            <md-card-content>
                <md-nav-list>
                    <h3 mdSubheader>Characters</h3>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/characters/edit"
                        *ngIf="getCanEdit()">
                        Edit Characters
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/characters">
                        View Characters
                    </a>
                    <h3 mdSubheader>Cast</h3>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/cast/edit"
                        *ngIf="getCanEdit()">
                        Edit Cast
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/cast">
                        View Cast
                    </a>
                </md-nav-list>
            </md-card-content>
        </md-card>
        <md-card class="project-landing-card" *ngIf="getCanRead()">
            <md-card-title>Locations</md-card-title>
            <md-card-content>
                <md-nav-list>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/locations/edit"
                        *ngIf="getCanEdit()">
                        Edit Locations
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/locations">
                        View Locations
                    </a>
                </md-nav-list>
            </md-card-content>
        </md-card>
        <md-card class="project-landing-card" *ngIf="getCanRead()">
            <md-card-title>Breakdown</md-card-title>
            <md-card-content>
                <md-nav-list>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/breakdowns">
                        View Breakdown
                    </a>
                </md-nav-list>
            </md-card-content>
        </md-card>
        <md-card class="project-landing-card" *ngIf="getCanRead()">
            <md-card-title>Images</md-card-title>
            <md-card-content>
                <md-nav-list>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/images">
                        View Images
                    </a>
                </md-nav-list>
            </md-card-content>
        </md-card>
        <md-card class="project-landing-card" *ngIf="getCanReadCallsheet()">
            <md-card-title>Scheduling</md-card-title>
            <md-card-content>
                <md-nav-list>
                    <a md-list-item
                    routerLink="/projects/{{project.id}}/units/nav/{{getScheduleEditNavType()}}"
                        *ngIf="getCanEdit()">
                        Edit Schedules
                    </a>
                    <a md-list-item
                    routerLink="/projects/{{project.id}}/units/user/nav/{{getScheduleReadNavType()}}"
                        *ngIf="getCanRead() && getHasCrew()">
                        View My Schedules
                    </a>
                    <a md-list-item
                    routerLink="/projects/{{project.id}}/units/nav/{{getScheduleReadNavType()}}"
                        *ngIf="getCanRead()">
                        View Schedules
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/callsheets">
                        View Callsheets
                    </a>
                </md-nav-list>
            </md-card-content>
        </md-card>
        <md-card class="project-landing-card" *ngIf="getCanRead()">
            <md-card-title>Crew</md-card-title>
            <md-card-content>
                <md-nav-list>
                    <a md-list-item
                        *ngIf="getHasCrew()"
                        routerLink="/projects/{{project.id}}/units/user">
                        My Units
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/units">
                        <span *ngIf="getCanEdit()">Edit&nbsp;</span>
                        <span *ngIf="!getCanEdit()">View&nbsp;</span>
                        Units
                    </a>
                    <a md-list-item
                        *ngIf="getHasCrew()"
                        routerLink="/projects/{{project.id}}/units/user/nav/{{getUnitListNavType()}}">
                        My Unit Lists
                    </a>
                    <a md-list-item
                        routerLink="/projects/{{project.id}}/units/nav/{{getUnitListNavType()}}">
                        Unit Lists
                    </a>
                </md-nav-list>
            </md-card-content>
        </md-card>
    </div>
</div>
<md-card *ngIf="getCanComment()">
    <md-card-header>Comments</md-card-header>
    <md-card-content>
        <comment-container [projectId]="project.id" [parentProjectId]="project.id"></comment-container>
    </md-card-content>
</md-card>