<md-card>      
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <span class="breadcrumb">Edit Characters</span>
</md-card>
<md-card>
    <edit-character [character]="viewNewCharacter" (submitCharacter)="addCharacter()"></edit-character>
</md-card>
<md-card>
    <md-nav-list [dragula]='"character-bag"' 
                 [dragulaModel]='characters'>
        <a md-list-item routerLink="/projects/{{project.id}}/characters/{{characterWrapper.character.id}}" 
           *ngFor="let characterWrapper of characters"
           [ngClass]="{'can-delete': characterWrapper.character.sceneCount==0}"
           class="drag-element drag-delete drag-merge">
           <md-icon class=drag-handle>drag_handle</md-icon>
            <show-image *ngIf="characterWrapper.character.primaryImage.id!=0" [image]="characterWrapper.character.primaryImage" [listAvatar]="true"></show-image>
            <character-summary [character]="characterWrapper.character"></character-summary> ({{characterWrapper.character.sceneCount}})
            <span class="drop-container drop-merge-container"
                  [dragula]='"character-bag"' 
                  [dragulaModel]='characterWrapper.dropCharacters'
                  *ngIf="draggingToMerge">
                <md-icon>merge_type</md-icon>                
            </span>
        </a>
    </md-nav-list>
</md-card>
<div class="delete-character drop-container drop-delete-container" 
     [dragula]="'character-bag'" 
     *ngIf="draggingToDelete" 
     [dragulaModel]='deleteCharacters'>
    <md-icon>delete</md-icon>
</div>