<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <span class="breadcrumb">Locations</span>
    </div>
</div>
<div class="row">
    <edit-location [location]="viewNewLocation" (submitLocation)="addLocation()"></edit-location>
</div>
<div class="row">
    <md-nav-list [dragula]='"location-bag"' 
                 [dragulaModel]='locations'>
        <a md-list-item [routerLink]="[locationWrapper.location.id]" 
           *ngFor="let locationWrapper of locations"
           [ngClass]="{'can-delete': locationWrapper.location.sceneCount==0}">
            {{locationWrapper.location.name}} ({{locationWrapper.location.sceneCount}})
            <span class="drag-merge"
                  [dragula]='"location-bag"' 
                  [dragulaModel]='locationWrapper.dropLocations'>
                <md-icon>merge_type</md-icon>                
            </span>
        </a>
    </md-nav-list>
</div>
<div class="delete-location drag-delete" [dragula]="'location-bag'" *ngIf="draggingLocation" [dragulaModel]='deleteLocations'>
    <md-icon>delete</md-icon>
</div>