<h1 md-dialog-title>
    Add Invitation
</h1>
<md-dialog-content>
    <div fxLayout="row">
        <md-input-container fxFlex="50%">
            <input mdInput placeholder="First Name" id="invitation_firstname" [(ngModel)]="invitation.firstName" #firstname="ngModel" name="invitation_firstname">
        </md-input-container>
        <md-input-container fxFlex="50%">
            <input mdInput placeholder="Last Name" id="invitation_lastname" [(ngModel)]="invitation.lastName" #lastname="ngModel" name="invitation_lastname">
        </md-input-container>
    </div>
    <div fxLayout="row">
        <md-input-container fxFlex="100%">
            <input mdInput placeholder="Email" id="invitation_email" [(ngModel)]="invitation.email" #email="ngModel" name="invitation_email">
        </md-input-container>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button (click)="submit()">Save</button>
</md-dialog-actions>