<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/admin/projects" class="breadcrumb">Projects</a>
        <span class="breadcrumb">{{project.title}}</span>
    </div>
</div>
<a md-button [routerLink]="['settings']"><md-icon>settings</md-icon></a>
<h3>Project Users</h3>
<div class="row" *ngIf="projectUsers.length">
    <table class="col s12">
        <thead>
            <tr>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projectUser of projectUsers">
                <td>
                    {{projectUser.user.email}}
                </td>
                <td>
                    <button md-button (click)="removeProjectUser(projectUser)"><md-icon>delete</md-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>