<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <span class="breadcrumb">Callsheets</span>
    </div>
</div>
<div class="row" *ngIf="getCanEdit()">
    <div class="col s12">
        <a routerLink="/projects/{{project.id}}/callsheets/new">New Callsheet</a>
    </div>
</div>
<div class="row">
    <md-nav-list>
        <a md-list-item [routerLink]="[callsheet.id]" 
           *ngFor="let callsheet of callsheets"
           class="">
           {{callsheet.shootingDay.number}} - {{callsheet.shootingDay.date | date}}
        </a>
    </md-nav-list>
</div>