<md-card>      
  <a routerLink="/" class="breadcrumb">Dashboard</a>
  <a routerLink="/admin/users" class="breadcrumb">Users</a>
  <a routerLink="/admin/users/{{projectUser.user.id}}" class="breadcrumb">{{projectUser.user.firstName}} {{projectUser.user.lastName}}</a>
  <span class="breadcrumb">{{projectUser.project.title}}</span>
</md-card>
<md-card>
    <md-card-title>Role</md-card-title>
    <md-card-content>
        <div fxLayout="row">
            <md-select fxFlex="50%" 
                        mdInput placeholder="Role" 
                        [(ngModel)]="projectUser.projectRole.id" 
                        #projectRole="ngModel" 
                        name="user_role_id"
                        (change)="updateProjectUser()">
                <md-option [value]="">---</md-option>
                <md-option *ngFor="let projectRole of projectRoles" [value]="projectRole.id">{{ projectRole.name }}</md-option>
            </md-select>
        </div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>Linked cast</md-card-title>
    <md-card-content>
        <a *ngIf="projectUser.castMember.id!==0" routerLink="/projects/{{projectUser.project.id}}/cast/{{projectUser.castMember.id}}">{{getFullName(projectUser.castMember)}}</a>
        <i *ngIf="projectUser.castMember.id===0">No cast linked</i>
        <button *ngIf="projectUser.castMember.id===0" md-fab (click)="showAddCastMember()"><md-icon>add</md-icon></button>
    </md-card-content>
</md-card>
<md-card>
  <md-card-title>Linked crew</md-card-title>
  <md-card-content>
      <table class="col s12" *ngIf="projectUser.crewMembers.length">
          <thead>
              <tr>
                  <th>Department</th>
                  <th>Job Title</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let crewMember of projectUser.crewMembers">
                  <td>
                    {{crewMember.department.name}}
                  </td>
                  <td>
                    {{crewMember.jobTitle}}
                  </td>
                  <td>
                      <button md-button (click)="editCrewMember(crewMember)"><md-icon>edit</md-icon></button>
                      <button md-button (click)="removeCrewMemberLink(crewMember)"><md-icon>delete</md-icon></button>
                  </td>
              </tr>
          </tbody>
      </table>
      <i *ngIf="!projectUser.crewMembers.length">No crew linked</i>
      <a md-fab [routerLink]="['add', projectUser.project.id]"><md-icon>add</md-icon></a>
  </md-card-content>
</md-card>