<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/callsheets" class="breadcrumb">Callsheets</a>
        <span class="breadcrumb">{{callsheet.shootingDay.number}} - {{callsheet.shootingDay.date | date}}</span>
    </div>
</div>
<h2>Callsheet {{callsheet.shootingDay.number}}</h2>
<md-card>
    <md-card-content>
        <p><strong>Date:</strong> {{callsheet.shootingDay.date | date}}</p>
        <p><strong>Start:</strong> {{callsheet.start | date:'shortTime'}}</p>
        <p><strong>End:</strong> {{callsheet.end | date:'shortTime'}}</p>
        <p><strong>Unit call:</strong> {{callsheet.crewCall | date:'shortTime'}}</p>
    </md-card-content>
    <md-card-footer *ngIf="getCanEdit()">
        <a [routerLink]="['wizard', 4]">Edit</a>
    </md-card-footer>
</md-card>
<md-card *ngIf="callsheet.weatherInfo">
    <md-card-title>Weather</md-card-title>
    <md-card-content>
        <weather-info [weatherInfo]="callsheet.weatherInfo"></weather-info>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>Locations</md-card-title>
    <md-card-content>
        <div class="row">
            <div class="col s12">
                <div class="row"
                    *ngFor="let location of callsheet.locations">
                    <p><strong>Location {{location.number}}:</strong> 
                        <a routerLink="/projects/{{project.id}}/locations/{{location.id}}">{{location.name}}</a>
                    </p>
                    <p>{{location.address.address1}}</p>
                    <p>{{location.address.address2}}</p>
                    <p>{{location.address.address3}}</p>
                    <p>{{location.address.address4}}</p>
                </div>
            </div>
        </div>
        <agm-map *ngIf="markerLocations.length" [fitBounds]="bounds">
            <agm-marker *ngFor="let marker of markerLocations" 
                        [latitude]="marker.latLng.latitude" 
                        [longitude]="marker.latLng.longitude"
                        [label]="marker.number">
                <agm-info-window>
                    <a routerLink="/projects/{{project.id}}/locations/{{marker.id}}">{{marker.name}}</a>
                </agm-info-window>
            </agm-marker>
            <agm-marker *ngFor="let marker of markerLocationSets"
                        [latitude]="marker.latLng.latitude" 
                        [longitude]="marker.latLng.longitude">
                <agm-info-window>
                    <div><a routerLink="/projects/{{project.id}}/locationsets/{{marker.id}}">{{marker.name}}</a></div>
                    <div *ngFor="let scene of marker.scenes">
                        <a routerLink="/projects/{{project.id}}/scenes/{{scene.id}}">Sc. {{scene.number}}</a>
                    </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </md-card-content>
    <md-card-footer *ngIf="getCanEdit()">
        <a [routerLink]="['wizard', 2]">Edit</a>
    </md-card-footer>
</md-card>
<md-card>
<md-card-title>Scenes</md-card-title>
    <md-card-content>
        <div class="row">
            <table class="col s12">
                <thead>
                    <tr>
                        <th></th>
                        <th>Set and Scene Description</th>
                        <th>Sc's</th>
                        <th>D/N</th>
                        <th>PG's</th>
                        <th>Cast</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let callsheetScene of callsheet.scenes">
                        <td>
                            <show-image *ngIf="callsheetScene.scene.primaryImage.id!=0" [image]="callsheetScene.scene.primaryImage" [listAvatar]="true"></show-image>
                        </td>
                        <td>
                            <div>{{callsheetScene.scene.intExt.name}}. <a routerLink="/projects/{{project.id}}/scriptlocations/{{callsheetScene.scene.scriptLocation.id}}">{{callsheetScene.scene.scriptLocation.name}}</a></div>
                            <div>{{callsheetScene.scene.summary}}</div>
                        </td>
                        <td><a routerLink="/projects/{{project.id}}/scenes/{{callsheetScene.scene.id}}">{{callsheetScene.scene.number}}</a></td>
                        <td>{{callsheetScene.scene.dayNight.name}}</td>
                        <td>{{callsheetScene.pageLength | pagelength}}</td>
                        <td>
                            <span *ngFor="let character of callsheetScene.characters"><a routerLink="/projects/{{project.id}}/characters/{{character.id}}">{{character.number}}</a> </span>
                        </td>
                        <td><a routerLink="/projects/{{project.id}}/locations/{{callsheetScene.locationSet.location.id}}">{{callsheetScene.locationSet.location.name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
    <md-card-footer *ngIf="getCanEdit()">
        <a [routerLink]="['wizard', 1]">Edit</a>
    </md-card-footer>
</md-card>
<md-card>
    <md-card-title>Cast</md-card-title>
    <md-card-content>
        <div class="row">
            <table class="col s12">
                <thead *ngIf="callsheet.characters.length">
                    <tr>
                        <th colspan="3"></th>
                        <th *ngFor="let call of callsheet.characters[0].calls">
                            {{call.callType.shortName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let callsheetCharacter of callsheet.characters">
                        <td>
                            <show-image *ngIf="showCharacterImage(callsheetCharacter)" [image]="callsheetCharacter.character.primaryImage" [listAvatar]="true"></show-image>
                            <user-avatar *ngIf="showUserImage(callsheetCharacter)" [userId]="callsheetCharacter.castMember.userID" [fullName]="getFullName(callsheetCharacter.castMember)" [hasImage]="callsheetCharacter.castMember.hasImage"></user-avatar>
                        </td>
                        <td>
                            <a routerLink="/projects/{{project.id}}/characters/{{callsheetCharacter.character.id}}">{{callsheetCharacter.character.number}}. {{callsheetCharacter.character.name}}</a>
                        </td>
                        <td>
                            <span *ngIf="callsheetCharacter.castMember.id!==0">
                                <a routerLink="/projects/{{project.id}}/cast/{{callsheetCharacter.castMember.id}}">{{getFullName(callsheetCharacter.castMember)}}</a>
                            </span>
                        </td>
                        <td *ngFor="let characterCall of callsheetCharacter.calls">
                            {{characterCall.callTime | date:'shortTime'}}
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </md-card-content>
    <md-card-footer *ngIf="getCanEdit()">
        <a [routerLink]="['wizard', 3]">Edit</a>
    </md-card-footer>
</md-card>
<md-card *ngIf="callsheet.breakdownInfo.id!==0">
    <md-card-title>
        <span class="breakdown-card-title">Breakdown&nbsp;</span>
        <a routerLink="/projects/{{project.id}}/breakdowns/{{callsheet.breakdownInfo.id}}">
            ({{callsheet.breakdownInfo.name}})
        </a>
    </md-card-title>
    <md-card-content>
        <div *ngFor="let breakdownType of callsheet.breakdownInfo.types">
            <div><b>{{breakdownType.name}}</b></div>
            <div *ngFor="let breakdownItemScene of breakdownType.scenes">
                <em>Sc {{breakdownItemScene.sceneNumber}}:</em>
                <span class="comma-separated" *ngFor="let item of breakdownItemScene.items">
                    <a routerLink="/projects/{{project.id}}/breakdowns/items/{{item.id}}">{{item.name}}</a>
                </span>
            </div>
        </div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>
        <a routerLink="/projects/{{project.id}}/scripttext/{{callsheet.id}}/callsheet">Sides</a>
    </md-card-title>
</md-card>