
<div class="raccord-narrow-container">
  <div class="raccord-page-header">
    <a routerLink="{{getBackLink()}}">
      <back-link></back-link>
    </a>
    <div fxLayout="row">
      <h1 class="raccord-header-title">
        Callsheet {{callsheet.shootingDay.number}}
        <a mat-mini-fab routerLink="{{getSidesLink()}}"><mat-icon>subject</mat-icon></a>
      </h1>
    </div>
  </div>
  <mat-card class="raccord-label-info">
    <div fxLayout="row"
      class="raccord-label-info-row">
      <span fxFlex="50%" class="raccord-label">
        Date
      </span>
      <span fxFlex="50%" class="raccord-info">
        {{callsheet.shootingDay.date | date}}
      </span>
    </div>
    <div fxLayout="row"
      class="raccord-label-info-row">
      <span fxFlex="50%" class="raccord-label">
        Crew Call
      </span>
      <span fxFlex="50%" class="raccord-info">
        {{callsheet.crewCall | date:'shortTime'}}
      </span>
    </div>
    <div fxLayout="row"
      class="raccord-label-info-row">
      <span fxFlex="50%" class="raccord-label">
        Unit
      </span>
      <span fxFlex="50%" class="raccord-info">
        <a routerLink="{{getCrewUnitLink()}}">
          {{callsheet.crewUnit.name}}
        </a>
      </span>
    </div>
  </mat-card>
  <div *ngIf="callsheet.weatherInfo">
    <div class="raccord-sub-header"
        fxLayout="row">
        <h2>Weather Info</h2>
    </div>
    <mat-card class="raccord-label-info">
      <weather-info [weatherInfo]="callsheet.weatherInfo"></weather-info>
    </mat-card>
  </div>
  <div *ngIf="callsheet.locations.length">
    <div class="raccord-sub-header"
        fxLayout="row">
        <h2>Locations</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="5px">
      <callsheet-location-card
        *ngFor="let location of callsheet.locations"
        [location]="location"></callsheet-location-card>
    </div>
    <callsheet-locations-map
      [locations]="callsheet.locations"
      [projectId]="project.id"></callsheet-locations-map>
  </div>
  <div class="raccord-sub-header"
      fxLayout="row">
      <h2>Scenes</h2>
  </div>
  <callsheet-scenes-table 
    [callsheetScenes]="callsheet.scenes"
    [projectId]="project.id"></callsheet-scenes-table>
  <div class="raccord-sub-header"
      fxLayout="row">
      <h2>Cast</h2>
  </div>
  <callsheet-characters-table 
    [callsheetCharacters]="callsheet.characters"
    [projectId]="project.id"></callsheet-characters-table>
  <div class="raccord-sub-header"
      fxLayout="row">
      <h2>
        Breakdown
        <span *ngIf="hasBreakdown()">
          (<a routerLink="{{getBreakdownLink()}}">{{callsheet.breakdownInfo.name}}</a>)
        </span>
      </h2>
  </div>
  <callsheet-breakdowns-table
    [callsheetBreakdownTypes]="callsheet.breakdownInfo.types"
    [projectId]="project.id"
    [breakdownId]="callsheet.breakdownInfo.id"></callsheet-breakdowns-table>
</div>