<div class="row">
    <md-nav-list>
        <h3 mdSubheader *ngIf="getScheduledAvailable()">Scheduled</h3>
        <md-list-item 
           *ngFor="let shootingDay of getScheduledShootingDays()">
            <a routerLink="/projects/{{projectId}}/scheduling">
                #{{shootingDay.number}}
                {{shootingDay.date | date}}
            </a>
        </md-list-item>
        <h3 mdSubheader *ngIf="getScheduledNotCallsheetAvailable()">Scheduled, not on callsheet</h3>
        <md-list-item 
           *ngFor="let shootingDay of getScheduledNotCallsheetShootingDays()">
            <a routerLink="/projects/{{projectId}}/scheduling">
                #{{shootingDay.number}}
                {{shootingDay.date | date}}
            </a>
        </md-list-item>
        <h3 mdSubheader *ngIf="getCallsheetAvailable()">Callsheet</h3>
        <md-list-item 
           *ngFor="let shootingDay of getCallsheetShootingDays()">
            <a routerLink="/projects/{{projectId}}/callsheets/{{shootingDay.id}}">
                #{{shootingDay.number}}
                {{shootingDay.date | date}}
            </a>
        </md-list-item>
        <h3 mdSubheader *ngIf="getCallsheetNotShotAvailable()">Callsheet, not shot</h3>
        <md-list-item 
           *ngFor="let shootingDay of getCallsheetNotShotShootingDays()">
           <a routerLink="/projects/{{projectId}}/callsheets/{{shootingDay.id}}">
                #{{shootingDay.number}}
                {{shootingDay.date | date}}
            </a>
        </md-list-item>
        <h3 mdSubheader *ngIf="getShotAvailable()">Shot</h3>
        <md-list-item 
           *ngFor="let shootingDay of getShotShootingDays()">
            <a routerLink="/projects/{{projectId}}/shootingdays/{{shootingDay.id}}">
                #{{shootingDay.number}}
                {{shootingDay.date | date}}
            </a>
        </md-list-item>
    </md-nav-list>
</div>