<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/callsheets" class="breadcrumb">Callsheets</a>
        <span class="breadcrumb">{{callsheet.shootingDay.number}} - {{callsheet.shootingDay.date | date}}</span>
    </div>
</div>
<h3>Step 4 - Calls</h3>
<div class="row">
    <div class="col s12">
        <md-input-container>
            <input mdInput id="callsheet_start" type="time" placeholder="Start" required [(ngModel)]="callsheet.startString" name="callsheet_start" />
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <md-input-container>
            <input mdInput id="callsheet_end" type="time" placeholder="End" required [(ngModel)]="callsheet.endString" name="callsheet_end" />
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <md-input-container>
            <input mdInput id="callsheet_crew_call" type="time" placeholder="Crew Call" required [(ngModel)]="callsheet.crewCallString" name="callsheet_crew_call" />
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <table>
            <tbody>
                <tr *ngFor="let callsheetCharacter of characters">
                    <td>{{callsheetCharacter.character.name}}</td>
                    <td *ngFor="let call of callsheetCharacter.callWrappers">
                        <md-input-container>
                            <input mdInput id="character_{{callsheetCharacter.id}}_{{call.id}}_call" type="time" placeholder="{{call.callType.shortName}}" required [(ngModel)]="call.callTimeString" name="character_{{callsheetCharacter.id}}_{{call.id}}_call" (blur)="updateCall(call)" />
                        </md-input-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <button type="button"
                md-raised-button
                (click)="goToNextStep()"
                class="wizard-next-button">
            End
        </button>
    </div>
</div>