<h1 md-dialog-title>
    Choose a Scene
</h1>
<md-dialog-content>
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="25%">
            <input mdInput placeholder="Name" id="breakdown_type_name" required [(ngModel)]="breakdownType.name" #name="ngModel" name="breakdown_type_name">
        </md-input-container>
        <md-input-container fxFlex="75%">
            <input mdInput placeholder="Description" id="breakdown_type_description" [(ngModel)]="breakdownType.description" #description="ngModel" name="breakdown_type_description">
        </md-input-container>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button (click)="submit()">Save</button>
</md-dialog-actions>