<div class="row" *ngIf="userCanEdit()">
    <select-entity fxFlex="33%"
        [projectId]="projectId"
        [includeTypes]="sceneType"
        (entitySelected)="addLink($event)">
    </select-entity>
</div>
<div class="row">
    <md-list>
        <md-list-item 
           *ngFor="let scene of scenes">
            <show-image *ngIf="scene.primaryImage.id!=0" [image]="scene.primaryImage" [listAvatar]="true"></show-image>
            <a routerLink="/projects/{{projectId}}/scenes/{{scene.id}}">
                <scene-summary [scene]="scene"></scene-summary>
            </a>
            <button md-icon-button (click)="removeLink(scene)" *ngIf="userCanEdit()"><md-icon>delete</md-icon></button>
        </md-list-item>
    </md-list>
</div>