<div class="row">
    <md-nav-list>
        <md-list-item 
           *ngFor="let scene of scenes">
            <show-image *ngIf="scene.primaryImage.id!=0" [image]="scene.primaryImage" [listAvatar]="true"></show-image>
            <a routerLink="/projects/{{projectId}}/scenes/{{scene.id}}">
                {{scene.number}}. {{scene.intExt.name}} {{scene.scriptLocation.name}} {{scene.dayNight.name}} - {{scene.summary}}
            </a>
            <button md-button (click)="removeLink(scene)"><md-icon>delete</md-icon></button>
        </md-list-item>
    </md-nav-list>
</div>