<h1 md-dialog-title>
    Crew Member
</h1>
<md-dialog-content>
    <div fxLayout="row">
        <md-input-container fxFlex="50%">
            <input mdInput placeholder="Job title" id="crewmember_job_title" [(ngModel)]="crewMember.jobTitle" #jobtitle="ngModel" name="crewmember_job_title">
        </md-input-container>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button (click)="submit()">Save</button>
</md-dialog-actions>