<h3 mat-dialog-title>{{title}}</h3>
<form id="edit-project-role-form"
  #editProjectRoleForm = "ngForm"
  (ngSubmit)="submit()">
  <mat-dialog-content>
    <div fxLayout="row">
      <mat-form-field>
        <mat-select 
          mdInput placeholder="Role" 
          [(ngModel)]="chosenRoleId" 
          #projectRole="ngModel" 
          name="project-role">
          <mat-option [value]="">---</mat-option>
          <mat-option *ngFor="let projectRole of availableRoles" [value]="projectRole.id">{{projectRole.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!editProjectRoleForm.form.valid">Save</button>
  </mat-dialog-actions>
</form>