<div>
    <div *ngIf="castMember.id!==0">
        <div>
            <user-avatar [userId]="castMember.userID" [fullName]="getFullName(castMember)" [hasImage]="castMember.hasImage"></user-avatar>        
        </div>
        <div>
            <b><a routerLink="/projects/{{projectId}}/cast/{{castMember.id}}">{{getFullName(castMember)}}</a></b>
        </div>
        <div>
            <i>Email</i>: {{castMember.email}}
        </div>
        <div>
            <i>Telephone</i>: {{castMember.telephone}}
        </div>
    </div>
    <div *ngIf="castMember.id===0">
        <div>
            <i>No cast member</i>
        </div>
        <div>
            <button md-fab (click)="addCastMember()" *ngIf="getCanEdit()"><md-icon>add</md-icon></button>
        </div>
    </div>
</div>