<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <span class="breadcrumb">Projects</span>
    </div>
</div>
<div class="row">
    <div class='md-padding' layout="row" layout-wrap>
        <md-card class="project-card" *ngFor="let project of projects">
            <project-avatar [project]="project"></project-avatar>
            <md-card-header>
                <md-card-title><a [routerLink]="[project.id]" class="card-title">{{project.title}}</a></md-card-title>
            </md-card-header>
            <md-card-content>
                <md-chip-list md-line>
                    <span *ngFor="let crewMember of project.crewMembers">
                        <md-chip>{{crewMember.department.name}} - {{crewMember.jobTitle}} ({{crewMember.crewUnit.name}})</md-chip>
                    </span>
                    <span *ngFor="let character of project.characters">
                        <md-chip><character-summary [character]="character"></character-summary></md-chip>
                    </span>
                </md-chip-list>
            </md-card-content>
        </md-card>
    </div>
</div>