<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <span class="breadcrumb">Projects</span>
    </div>
</div>
<div class="row">
    <div class='md-padding' layout="row" layout-wrap>
        <md-card class="project-card" *ngFor="let project of projects">
            <md-card-header>
                <md-card-title><a [routerLink]="[project.id]" class="card-title">{{project.title}}</a></md-card-title>
            </md-card-header>
            <md-card-actions>
                <button md-button (click)="remove(project)"><md-icon>delete</md-icon></button>
                <a md-button [routerLink]="[project.id, 'edit']"><md-icon>edit</md-icon></a>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div class="row">
    <a md-fab routerLink="/projects/add"><md-icon>add</md-icon></a>
</div>
          