<form class="col s12"
        id="location_set_form"
        #locationSetForm = "ngForm"
        (ngSubmit)="doLocationSetSubmit()">
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="25%">
            <input mdInput placeholder="Name" id="location_set_name" required [(ngModel)]="locationSet.name" #name="ngModel" name="location_set_name">
        </md-input-container>
        <md-input-container fxFlex="75%">
            <input mdInput placeholder="Description" id="location_set_description" [(ngModel)]="locationSet.description" #description="ngModel" name="location_set_description">
        </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="50%">
            <input mdInput placeholder="Latitude" id="location_set_lat" [(ngModel)]="locationSet.latLng.latitude" #lat="ngModel" name="location_set_lat">
        </md-input-container>
        <md-input-container fxFlex="50%">
            <input mdInput placeholder="Longitude" id="location_set_lng" [(ngModel)]="locationSet.latLng.longitude" #lng="ngModel" name="location_set_lng">
        </md-input-container>
    </div>
    <div fxLayout="row">
        <div class="col s12">
            <button md-raised-button type="submit"[disabled]="!locationSetForm.form.valid">Save</button>
        </div>
    </div>
</form>