<md-card>
  <div><b>First name: </b> {{userProfile.firstName}}</div>
  <div><b>Last name: </b> {{userProfile.lastName}}</div>
  <div><b>Telephone: </b> {{userProfile.telephone}}</div>
  <div><b>Preferred email: </b> {{userProfile.preferredEmail}}</div>
  <button md-button (click)="updateProfile()"><md-icon>edit</md-icon></button>
</md-card>
<md-card>
  <md-card-title>Profile Image</md-card-title>
  <md-card-content>
    <div>
        <input type="file"
          (change)="uploadImage($event)"
          multiple />
    </div>
    <user-avatar [user]="userProfile"></user-avatar>
    <div *ngIf="userProfile.hasImage">
        <button md-button (click)="removeImage()"><md-icon>delete</md-icon></button>
    </div>
  </md-card-content>
</md-card>