<md-card>      
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <span class="breadcrumb">Scenes</span>
</md-card>
<md-card>
    <md-card-title>Filter Scenes</md-card-title>
    <md-card-content>
        <filter-scenes [sceneFilter]="sceneFilter" (filterScenes)="filterScenes()" [projectID]="project.id" [breakdownTypes]="breakdownTypes"></filter-scenes>
    </md-card-content>
</md-card>
<md-card *ngIf="scenes.length">
    <md-nav-list>
        <a md-list-item 
           [routerLink]="[scene.id]" 
           *ngFor="let scene of scenes">
            <show-image *ngIf="scene.primaryImage.id!=0" [image]="scene.primaryImage" [listAvatar]="true"></show-image>
            <scene-summary [scene]="scene"></scene-summary>
        </a>
    </md-nav-list>
</md-card>
<md-card *ngIf="!scenes.length">
    No scenes added
</md-card>