<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <span class="breadcrumb">Scenes</span>
    </div>
</div>
<div class="row">
    <edit-scene [scene]="viewNewScene" (submitScene)="addScene()"></edit-scene>
</div>
<div class="row">
    <md-nav-list [dragula]='"scene-bag"' [dragulaModel]='scenes' class="drag-sort-container">
        <a md-list-item 
           [routerLink]="[scene.id]" 
           *ngFor="let scene of scenes"
           class="drag-element drag-delete drag-sort">
           <md-icon class=drag-handle>drag_handle</md-icon>
            <show-image *ngIf="scene.primaryImage.id!=0" [image]="scene.primaryImage" [listAvatar]="true"></show-image>
            {{scene.number}}. {{scene.intExt.name}} {{scene.scriptLocation.name}} {{scene.dayNight.name}} - {{scene.summary}} ({{scene.pageLength | pagelength}})
        </a>
    </md-nav-list>
</div>
<div class="delete-scene drop-container drop-delete-container" [dragula]="'scene-bag'" *ngIf="draggingScene" [dragulaModel]='deleteScenes'>
    <md-icon>delete</md-icon>
</div>