<md-card>      
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <span class="breadcrumb">Characters</span>
</md-card>
<md-card>
    <md-nav-list>
        <a md-list-item [routerLink]="[character.id]" 
           *ngFor="let character of characters">
            <show-image *ngIf="character.primaryImage.id!=0" [image]="character.primaryImage" [listAvatar]="true"></show-image>
            <character-summary [character]="character"></character-summary> ({{character.sceneCount}})
        </a>
    </md-nav-list>
</md-card>