<div class="raccord-narrow-container">
    <div class="raccord-page-header">
        <h1 class="raccord-header-title">
            My Dashboard
        </h1>
    </div>
    <h2>Calendar</h2>
    <mat-card>
        <mat-card-content>
            <dashboard-calendar></dashboard-calendar>
        </mat-card-content>
    </mat-card>
    <div class="raccord-sub-header"
        fxLayout="row">
        <h2>My Projects</h2>
        <span class="raccord-acton-link-container">
            <a routerLink="/projects" class="raccord-action-link">more</a>
        </span>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="5px" *ngIf="pagedProjects && pagedProjects.pageInfo">
        <a routerLink="/projects/{{project.id}}"
            *ngFor="let project of pagedProjects.data">
            <project-card
                [project]="project"></project-card>
        </a>
    </div>
</div>