<div class="raccord-narrow-container">
  <div class="raccord-page-header">
    <a routerLink="{{getBackLink()}}">
      <back-link></back-link>
    </a>
    <h1 class="raccord-header-title">
      Locations (script)
    </h1>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="5px" *ngIf="scriptLocations">
    <a routerLink="{{getScriptLocationLink(scriptLocation)}}"
        *ngFor="let scriptLocation of scriptLocations">
      <scrpt-location-card
          [scriptLocation]="scriptLocation"></scrpt-location-card>
    </a>
  </div>
</div>