<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/scenes" class="breadcrumb">Scenes</a>
        <span class="breadcrumb">{{scene.number}}. {{scene.intExt.name}} {{scene.location.name}} {{scene.dayNight.name}} - {{scene.summary}}</span>
    </div>
</div>
<div class="row">
    <edit-scene [scene]="viewScene" (submitScene)="updateScene()"></edit-scene>
</div>
<md-tab-group>
  <md-tab label="Overview">
  </md-tab>
  <md-tab label="Pictures">
      <scene-images [images]="scene.images" [sceneId]="scene.id" [projectId]="project.id"></scene-images>
  </md-tab>
</md-tab-group>