<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/locations" class="breadcrumb">Locations</a>
        <a routerLink="/projects/{{project.id}}/locations/{{locationSet.location.id}}" class="breadcrumb">{{locationSet.location.name}}</a>
        <span class="breadcrumb">{{locationSet.name}}</span>
    </div>
</div>
<div class="row">
    <edit-location-set [locationSet]="viewLocationSet" (submitLocationSet)="updateLocationSet()"></edit-location-set>
</div>
<md-tab-group>
  <md-tab label="Overview">
      <div>
          Script Location: <a routerLink="/projects/{{project.id}}/scriptlocations/{{locationSet.scriptLocation.id}}">{{locationSet.scriptLocation.name}}</a>
      </div>
      <div>
          Location: <a routerLink="/projects/{{project.id}}/locations/{{locationSet.location.id}}">{{locationSet.location.name}}</a>
      </div>
      <agm-map *ngIf="locationSet.location.latLng.hasLatLng && locationSet.latLng.hasLatLng" [fitBounds]="bounds">
          <agm-marker 
                    [latitude]="locationSet.location.latLng.latitude" 
                    [longitude]="locationSet.location.latLng.longitude"
                    [label]="'L'">
            <agm-info-window>
                Location: {{locationSet.location.name}}
            </agm-info-window>
          </agm-marker>
          <agm-marker 
                    [latitude]="locationSet.latLng.latitude" 
                    [longitude]="locationSet.latLng.longitude"
                    [label]="'S'">
            <agm-info-window>
                Set: {{locationSet.name}}
            </agm-info-window>
          </agm-marker>
      </agm-map>
  </md-tab>
  <!--md-tab label="Pictures">
      <location-set-images [images]="scriptLocation.images" [scriptLocationId]="scriptLocation.id" [projectId]="project.id"></screenplay-location-images>
  </md-tab-->
  <md-tab label="Schedule">
      <location-set-schedule [scheduleDays]="locationSet.scheduleDays" [locationSetId]="locationSet.id" [projectId]="project.id"></location-set-schedule>
  </md-tab>
</md-tab-group>