<agm-map *ngIf="markerLocations.length" [fitBounds]="bounds">
  <agm-marker *ngFor="let marker of markerLocations" 
            [latitude]="marker.latLng.latitude" 
            [longitude]="marker.latLng.longitude"
            [label]="marker.number">
    <agm-info-window>
      <a routerLink="{{getLocationLink(marker)}}">{{marker.name}}</a>
    </agm-info-window>
  </agm-marker>
  <agm-marker *ngFor="let marker of markerLocationSets"
            [latitude]="marker.latLng.latitude" 
            [longitude]="marker.latLng.longitude">
    <agm-info-window>
      <div><a routerLink="{{getLocationSetLink(marker)}}">{{marker.name}}</a></div>
      <div *ngFor="let scene of marker.scenes">
        <a routerLink="{{getSceneLink(scene)}}">Sc. {{scene.number}}</a>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>