<div class="comment">
    <div class="commenter">
        <user-avatar [user]="comment.user"></user-avatar>
        <span class="user-name">{{getFullName()}}</span>
    </div>
    <div class="comment-text" *ngIf="!showEditComment">{{comment.text}}</div>
    <edit-comment *ngIf="showEditComment" [comment]="comment" (submittedComment)="commentEdited($event)"></edit-comment>
    <div class="comment-actions">
        <a class="comment-action" *ngIf="!showAddComment" (click)="toggleAddComment(true)">add comment</a>
        <a class="comment-action" *ngIf="canEdit() && !showEditComment" (click)="toggleEditComment(true)">edit</a>
        <a class="comment-action" *ngIf="canEdit()" (click)="removeComment()">remove</a>
    </div>
    <div class="child-comments">
        <edit-comment *ngIf="showAddComment" [parentCommentId]="comment.id" [projectId]="projectId" (submittedComment)="commentAdded($event)"></edit-comment>
        <show-comment *ngFor="let childComment of childComments" [comment]="childComment" (removedComment)="onRemovedChildComment()" [projectId]="projectId"></show-comment>
    </div>
</div>