<div class="search-container">
    <md-input-container class="search-input-container">
        <input mdInput placeholder="{{entityTypeName}}" id="entity_search" [(ngModel)]="searchEntity.name" #entity="ngModel" name="entity_search"  (keyup)="doSearch()" (blur)="clearSearch()" autocomplete="off" />
    </md-input-container>
    <ul class="autocomplete-content" *ngIf="searchResults.length>0">
        <li (mousedown)="setResult(result)"*ngFor="let result of searchResults">
            <span raccord-highlight [search]="searchEntity.name" [text]="result.displayName" classToApply="highlight"></span>
        </li>
    </ul>
</div>