<div class="raccord-narrow-container">
  <div class="raccord-page-header">
    <a routerLink="/admin">
      <back-link></back-link>
    </a>
    <h1 class="raccord-header-title">
      Projects
    </h1>
  </div>
  <admin-projects-table 
    [projects]="projects"
    (showConfirmRemove)="showConfirmRemove($event)"
    (showEdit)="showEditProject($event)">
  </admin-projects-table>
  <button mat-fab 
      class="raccord-fab"
      (click)="showAddProject()">
    <mat-icon aria-label="New project">add</mat-icon>
  </button>
</div>