<form class="col s12"
        id="scene_form"
        #sceneForm = "ngForm"
        (ngSubmit)="doSceneSubmit()">
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="10%">
            <input mdInput placeholder="No" id="scene_number" required [(ngModel)]="scene.number" #no="ngModel" name="scene_number">
        </md-input-container>
        <search-int-ext  fxFlex="15%" [sceneIntExt]="scene.intExt"></search-int-ext>
        <search-day-night  fxFlex="15%" [sceneDayNight]="scene.dayNight"></search-day-night>
        <search-location  fxFlex="50%" [sceneLocation]="scene.location"></search-location>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="75%">
            <input mdInput placeholder="Summary" id="scene_summary" required [(ngModel)]="scene.summary" #summary="ngModel" name="scene_summary">
        </md-input-container>
        <md-input-container fxFlex="25%">
            <input mdInput placeholder="Page Length" id="scene_pagelength" required [(ngModel)]="stringPageLength" #pagelength="ngModel" name="scene_pagelength">
        </md-input-container>
    </div>
    <div fxLayout="row">
        <div class="col s12">
            <button md-raised-button type="submit"[disabled]="!sceneForm.form.valid">Save</button>
        </div>
    </div>
</form>