<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/breakdowns" class="breadcrumb">Breakdowns</a>
        <a routerLink="/projects/{{project.id}}/breakdowns/{{breakdownItem.breakdown.id}}" class="breadcrumb">{{breakdownItem.breakdown.name}}</a>
        <a routerLink="/projects/{{project.id}}/breakdowns/{{breakdownItem.breakdown.id}}/types/{{breakdownItem.type.id}}" class="breadcrumb">{{breakdownItem.type.name}}</a>
        <span class="breadcrumb">{{breakdownItem.name}}</span>
    </div>
</div>
<div class="row" *ngIf="userCanEdit()">
    <edit-breakdown-item [breakdownItem]="viewBreakdownItem" (submitBreakdownItem)="updateBreakdownItem()"></edit-breakdown-item>
</div>
<md-tab-group>
  <md-tab label="Overview">
  </md-tab>
  <md-tab label="Scenes">
      <breakdown-item-scenes [scenes]="breakdownItem.scenes" [breakdownItemId]="breakdownItem.id" [projectId]="project.id"></breakdown-item-scenes>
  </md-tab>
  <md-tab label="Pictures">
      <breakdown-item-images [images]="breakdownItem.images" [breakdownItemId]="breakdownItem.id" [projectId]="project.id"></breakdown-item-images>
  </md-tab>
</md-tab-group>