<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <span class="breadcrumb">Users</span>
    </div>
</div>
<div class="row">
    <table class="col s12">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <user-avatar [userId]="user.id" [fullName]="getFullName(user)" [hasImage]="user.hasImage"></user-avatar>
                </td>
                <td>
                    <a [routerLink]="[user.id]">{{user.firstName}} {{user.lastName}}</a>
                </td>
                <td>
                    <a [routerLink]="[user.id]">{{user.email}}</a>
                </td>
                <td>
                    <button md-button (click)="remove(user)"><md-icon>delete</md-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <a md-fab routerLink="/admin/users/add"><md-icon>add</md-icon></a>
</div>