<span>
  <span *ngIf="scene.intExt.id==0&&scene.scriptLocation.id==0&&scene.dayNight.id==0">
    <span *ngIf="scene.summary">
        {{scene.summary}}
    </span>
    <span *ngIf="!scene.summary">
        <i>No content</i>
    </span>
  </span>
  <span *ngIf="scene.intExt.id!=0||scene.scriptLocation.id!=0||scene.dayNight.id!=0">
    {{scene.number}}. {{scene.intExt.name}} {{scene.scriptLocation.name}} {{scene.dayNight.name}}
    <span *ngIf="scene.summary">
      - {{scene.summary}}
    </span>
  </span>
  &nbsp;({{scene.pageLength | pagelength}})
</span>