<div class="search-container">
    <md-input-container class="search-input-container">
        <input md-input placeholder="Search" id="entity_search" [(ngModel)]="searchText" name="entity_search" (keyup)="doSearch()" (blur)="clearSearch()" />
    </md-input-container>
    <div class="search-result-container">
        <div class="search-type-result" *ngFor="let typeResult of searchTypeResults">
            <label class="search-type-info">{{typeResult.type}} ({{typeResult.count}})</label>
            <md-nav-list>
                <md-list-item (mousedown)="setResult(result)" *ngFor="let result of typeResult.results">
                    <span raccord-highlight [search]="searchText" [text]="result.displayName" classToApply="highlight"></span>
                </md-list-item>
            </md-nav-list>
        </div>
    </div>
</div>