<div class="search-container">
    <md-input-container class="search-input-container">
        <input md-input placeholder="Search" id="entity_search" [(ngModel)]="searchText"  required name="entity_search" (keyup)="doSearch()" (blur)="clearSearch()" />
    </md-input-container>
    <ul class="autocomplete-content" *ngIf="searchResults.length>0">
        <li (mousedown)="setResult(result)"*ngFor="let result of searchResults">
            <span raccord-highlight [search]="searchText" [text]="result.displayName" classToApply="highlight"></span>
        </li>
    </ul>
</div>