<mat-table #projectuserprojectstable [dataSource]="projectUsers">

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let projectUser">
      <project-avatar [listAvatar]="true" [project]="projectUser.project"></project-avatar>
    </mat-cell>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let projectUser">
      <a routerLink="{{getAdminProjectUserLink(projectUser)}}" [queryParams]="{src: 'user'}">{{projectUser.project.title}}</a>
    </mat-cell>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
    <mat-cell *matCellDef="let projectUser">
      {{projectUser.projectRole.name}}
    </mat-cell>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let projectUser">
      <button mat-icon-button (click)="doShowConfirmRemove(projectUser)"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>