<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <span class="breadcrumb">Images</span>
    </div>
</div>
<div class="row">
    <upload-image [projectId]="project.id" (uploaded)="imagesUploaded()"></upload-image>
</div>
<div class="row image-list">
    <div class="image-thumbnail" *ngFor="let image of images">
        <show-image [image]="image"></show-image>
        <a [routerLink]="[image.id]">{{image.title}}</a>
        <md-icon *ngIf="image.isPrimaryImage">flash_on</md-icon>
        <button md-button (click)="remove(image)"><md-icon>delete</md-icon></button>
    </div>
</div>