/* this file will be extracted to main wwwroot folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import "~@angular/material/_theming.scss";
@import '~dragula/dist/dragula.css';
@import '~angular-calendar/css/angular-calendar.css';
@import 'script-text/script-text';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-teal);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include angular-material-theme($theme);

body{
  margin: 0px;
  background-color: $bg-color;
  color: $text-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: mat-color($accent);
  
  mat-icon {
    vertical-align: middle;
  }
}
ul{
  list-style-type: none;
}

.search-result-container{

  label.search-type-info{
    color: mat-color($primary);
  }
}

ul.autocomplete-content{
  
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  position: absolute;
  z-index: 2;
  width: 100%;

  li{
    list-style-type: none;
    width: 100%;
    cursor: pointer;
  }

  li:hover{
    background-color: $darker-bg-color;
  }

  li>span{
    padding: 14px 16px;
    display: block;
  }
}

.highlight{
  color: mat-color($accent);
}

.breadcrumb:not(:first-child):before{
  content: '\E5CC';
  display: inline-block;
  font-family: 'Material Icons';
}

.search-container{
  width: 100%;
  position:relative;
}

.search-input-container{
  width: 100%;
}

.drop-container{
  text-align: center;
  padding: 1px;

  .drag-element{
    display:none;
  }
}

.drop-container.hovering{
  border-style: solid;
  padding: 0px;
  border-width: 1px;
}

.drop-delete-container{
  background-color: mat-color($warn);
  width: 50%;
  position: fixed;
  bottom: 0;
  color: $bg-color;
}

.drop-delete-container.hovering{
  background-color: $bg-color;
  color: mat-color($warn);
  border-color: mat-color($warn);
}

.drop-merge-container{
  background-color: mat-color($primary);
  color: $bg-color;
  width: 30px;
  margin-left: auto;
}

.drop-merge-container.hovering{
  background-color: $bg-color;
  color: mat-color($primary);
  border-color: mat-color($primary);
}

// dragged element
.gu-mirror{
  opacity: 1;
  .drag-merge-container{
    display:none;
  }
}

.drag-merge.gu-transit{
  .drag-merge-container{
    display:none;
  }
}

.drag-handle{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.image-list{
  
  .image-thumbnail{
    img{
      max-width: 100px;
      max-height: 100px
    }
  }
}

.image-landing img{
  max-width: 100%;
}

.image-link-item{
  &:not(:last-child)::after{
    content: " -  ";
  }
}

span.action-span{
  cursor: pointer;
}

md-card{
  margin-bottom: 2px;
}

tfoot.table-summary{
  font-style: italic;
}

agm-map {
  height: 300px;
}

// comma separated list
.comma-separated:not(:last-of-type):after {
  content: ",";
}
.comma-separated:nth-last-of-type(2):before {
  content: none;
}
.comma-separated:nth-last-of-type(2):after {
  content: " and ";
}

// user avatar image
$avatar-height: 50px;
$avatar-border-radius: 15px;
.user-avatar{
  .user-avatar-profile-image{
    img{
      height: $avatar-height;
      border-radius: $avatar-border-radius;
    }
  }

  .user-avatar-placeholder{
    .placeholder-image{
      border-radius: $avatar-border-radius;
    }
  }
}

.generic-avatar {
  .generic-avatar-placeholder {
    .placeholder-image {
      border-radius: $avatar-border-radius;
    }
  }
}

$placeholder-font-size: 20px;

.placeholder-image{
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: $inverted-text-color;
  font-size: $placeholder-font-size;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.comment{
  .child-comments{
    margin-left: 10px;
  }
  
  .comment-action{
    color: mat-color($accent);
  }
}

.schedule-day-container{
  .add-new-scene-container{
    background-color: mat-color($primary);

    .new-scene {
      color: transparent;
    }
  }
  .add-new-scene-container.hovering {
    background-color: mat-color($accent);
  }
}

.raccord-radio-group {
  display: inline-flex;
  flex-direction: column;
}

raccord-toolbar {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
}

.top-loader{
  margin: 0 0;
  position: fixed;
  top: 64px;
  z-index: 10;
}

.raccord-sidenav-container {
  position: absolute !important;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.raccord-narrow-container {
  width: 66.66%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-left: 5px;
}

.toolbar-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar-user-avatar {
  cursor: pointer;
}

.project-card {
  width: 200px;
  margin-bottom: 5px;
}

.generic-card {
  width: 200px;
  margin-bottom: 5px;
}

.admin-crew-unit-card {
  width: 400px;
  margin-bottom: 5px;
}

.more-info-card {
  mat-card-title {
    text-align: center;
  }
}

.profile-dashboard-profile-image {
  width: 200px;
  margin-bottom: 5px;
}

.external-screen-container {
  width: 66.66%;
  margin-left: auto;
  margin-right: auto;
}

.raccord-page-header {

  .raccord-header-title {
    margin-top: 0px;
    margin-bottom: 0px;

    .raccord-header-avatar {
      vertical-align: middle;
    }
  }
}

.raccord-list-avatar {
  flex-shrink: 0;
  width: 40px !important;
  height: 40px !important;
  border-radius: $avatar-border-radius;
}

.raccord-header-avatar {
  flex-shrink: 0;
  width: 50px !important;
  height: 50px !important;
  border-radius: $avatar-border-radius;
}

.raccord-sub-header {
  .raccord-action-link {
    vertical-align: middle;
  }
}

.raccord-action-link {
  cursor: pointer;
}

.loading-image {
  display: inline-block;
}

.raccord-label-info {
  margin-top: 10px;

  .raccord-label-info-row {
    .raccord-label {
      font-style: italic;
    }
  }
}