<div class="scene-header">
  <span class="scene-header-number">{{scene.number}}</span>
  <a routerLink="/projects/{{projectID}}/scenes/{{scene.id}}"
      class="scene-header-info"
      id="scene-{{scene.id}}">
    <span *ngIf="scene.intExt.id==0&&scene.scriptLocation.id==0&&scene.dayNight.id==0">
      <span *ngIf="scene.summary">
          {{scene.summary}}
      </span>
      <span *ngIf="!scene.summary">
          <i>No content</i>
      </span>
    </span>
    <span *ngIf="scene.intExt.id!=0||scene.scriptLocation.id!=0||scene.dayNight.id!=0">
      {{scene.intExt.name}}. {{scene.scriptLocation.name}} - {{scene.dayNight.name}}
    </span>
  </a>
</div>