<md-card>      
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">Scenes</a>
    <span class="breadcrumb">Timings</span>
</md-card>
<md-card>
    <md-list>
        <md-list-item 
           *ngFor="let scene of scenes">
            <show-image *ngIf="scene.primaryImage.id!=0" [image]="scene.primaryImage" [listAvatar]="true"></show-image>
            {{scene.number}}. {{scene.intExt.name}} {{scene.scriptLocation.name}} {{scene.dayNight.name}} - {{scene.summary}} ({{scene.pageLength | pagelength}})
            <md-input-container>
                <input mdInput type="text" placeholder="Timing" [(ngModel)]="scene.timing" name="scene_{{scene.id}}_timing" (blur)="updateTiming(scene)" />
            </md-input-container>
        </md-list-item>
    </md-list>
</md-card>
<md-card>
    Total timings: {{getTotalTimings()|  timespan}}
</md-card>