<div class="external-screen-container">
    <h1>RACCORD</h1>
    <h2>Log in</h2>
    <form id="login-form"
          #loginForm = "ngForm"
          (ngSubmit)="doLogin()">
        <div fxLayout="row">
            <mat-form-field fxFlex="50%">
                <input matInput placeholder="Email" id="login_email" required [(ngModel)]="login.username" #email="ngModel" name="login_email" autofocus>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="50%">
                <input matInput type="password" placeholder="Password" id="login_password" required [(ngModel)]="login.password" #password="ngModel" name="login_password">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <button mat-raised-button type="submit" [disabled]="!loginForm.form.valid">Log in</button>
        </div>
    </form>
</div>