<div class="row">
    <form id="login-form" class="col offset-s2 s8"
          #loginForm = "ngForm"
          (ngSubmit)="doLogin()">
        <div class="row">
            <md-input-container>
                <input mdInput placeholder="Email" id="login_email" required [(ngModel)]="login.email" #email="ngModel" name="login_email">
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container>
                <input mdInput type="password" placeholder="Password" id="login_password" required [(ngModel)]="login.password" #password="ngModel" name="login_password">
            </md-input-container>
        </div>
        <div class="row">
            <div class="col s12">
                <button md-raised-button type="submit" [disabled]="!loginForm.form.valid">Log in</button>
            </div>
        </div>
    </form>
</div>