<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <span class="breadcrumb">Breakdown</span>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a routerLink="/projects/{{project.id}}/breakdown/settings">Settings</a>
    </div>
</div>
<div class="row">
    <div class='md-padding' layout="row" layout-wrap>
        <md-card class="breakdown-type-card" *ngFor="let breakdownType of breakdownTypes">
            <md-card-header>
                <md-card-title><a routerLink="/projects/{{project.id}}/breakdown/types/{{breakdownType.id}}" class="card-title">{{breakdownType.name}}</a></md-card-title>
            </md-card-header>
        </md-card>
    </div>
</div>