<div class="raccord-narrow-container">
  <div class="raccord-page-header">
    <a routerLink="{{getBackLink()}}">
      <back-link></back-link>
    </a>
    <h1 class="raccord-header-title">
      {{breakdown.name}}
    </h1>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="5px" *ngIf="breakdown.types">
    <a routerLink="{{getBreakdownTypeLink(breakdownType)}}"
        *ngFor="let breakdownType of breakdown.types">
      <breakdown-type-card
          [breakdownType]="breakdownType"></breakdown-type-card>
    </a>
  </div>
</div>