<md-card>      
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <span class="breadcrumb">Edit Schedule</span>
</md-card>
<div *ngIf="!project.publishedSchedule">
    <md-card>
        <button md-raised-button type="button" (click)="publishDays()">Publish</button>
    </md-card>
    <md-card>
        <form class="col s12"
                id="new_schedule_day_form"
                #newScheduleDayForm = "ngForm"
                (ngSubmit)="addScheduleDay()">
            <div fxLayout="row" fxLayoutGap="10px">
                <md-input-container fxFlex="25%">
                    <input mdInput type="date" placeholder="Date" required [(ngModel)]="viewNewScheduleDay.date" #newDate="ngModel" name="new_schedule_day_date" />
                </md-input-container>
                <md-input-container fxFlex="25%">
                    <input mdInput type="time" placeholder="Start" [(ngModel)]="viewNewScheduleDay.start" #newStart="ngModel" name="new_schedule_day_start" />
                </md-input-container>
                <md-input-container fxFlex="25%">
                    <input mdInput type="time" placeholder="End" [(ngModel)]="viewNewScheduleDay.end" #newEnd="ngModel" name="new_schedule_day_end" />
                </md-input-container>
                <button fxFlex="25%" md-raised-button type="submit"[disabled]="!newScheduleDayForm.form.valid">Add</button>            
            </div>
        </form>
    </md-card>
    <md-card>
        <md-card-title>Filter Scenes</md-card-title>
        <md-card-content>
            <filter-scenes [sceneFilter]="sceneFilter" (filterScenes)="filterScenes()" [projectID]="project.id" [breakdownTypes]="breakdownTypes"></filter-scenes>
            <md-list [dragula]='newSceneBagName' [dragulaModel]='filteredScenes' >
                <md-list-item class="new-scene" *ngFor="let filteredScene of filteredScenes">
                    <md-icon class=drag-handle>drag_handle</md-icon>
                    <scene-summary [scene]="filteredScene"></scene-summary>
                </md-list-item>
            </md-list>
            <button md-raised-button type="button" (click)="getNextScenes()" *ngIf="filteredScenes.length < totalScenes">Show More ({{totalScenes - filteredScenes.length}} more)</button>
        </md-card-content>
    </md-card>
    <md-card *ngFor="let scheduleDay of scheduleDays" class="schedule-day-container">
        <md-card-title>
            <span *ngIf="scheduleDay.shootingDay.id!==0">#{{scheduleDay.shootingDay.number}} </span>
            {{scheduleDay.date | date}}
            <button *ngIf="scheduleDay.shootingDay.id!==0&&!scheduleDay.shootingDay.callsheetID" md-raised-button type="button" (click)="addCallsheet(scheduleDay)">Add Callsheet</button> 
        </md-card-title>
        <md-card-content>
            <div *ngIf="draggingNewScene" 
                class="add-new-scene-container" 
                [dragula]='newSceneBagName' 
                [dragulaModel]='scheduleDay.newScenes'
                matchHeight="schedule-scene-container">
            </div>
            <md-list 
                *ngIf="!draggingNewScene"
                class="schedule-scene-container"
                [dragula]='sortSceneBagName'
                [dragulaModel]='scheduleDay.scenes'
                [attr.data-schedule-day-id]="scheduleDay.id">
                <md-list-item 
                    *ngFor="let scheduleScene of scheduleDay.scenes"
                    [attr.data-schedule-scene-id]="scheduleScene.id">
                    <div md-line>
                        <md-icon class=drag-handle>drag_handle</md-icon>
                        <show-image *ngIf="scheduleScene.scene.primaryImage.id!=0" [image]="scheduleScene.scene.primaryImage" [listAvatar]="true"></show-image>
                        <a routerLink="/projects/{{project.id}}/scenes/{{scheduleScene.scene.id}}"><scene-summary [scene]="scheduleScene.scene"></scene-summary></a> ({{scheduleScene.pageLength | pagelength}})
                        <button md-button (click)="removeScheduleScene($event, scheduleScene)"><md-icon>delete</md-icon></button>
                        <a md-button [routerLink]="[scheduleScene.scene.id, 'scene', scheduleScene.id]"><md-icon>edit</md-icon></a>
                    </div>
                    <md-chip-list md-line>
                        <a *ngFor="let character of scheduleScene.characters"
                            routerLink="/projects/{{project.id}}/characters/{{character.id}}">
                            <md-chip><character-summary [character]="character"></character-summary></md-chip>
                        </a>
                    </md-chip-list>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>
<md-card *ngIf="project.publishedSchedule">
    Schedule days have been published. Unable to make changes.
</md-card>