<div class="row">
    <md-nav-list>
        <md-list-item 
           *ngFor="let scheduleDay of scheduleDays">
            <a routerLink="/projects/{{projectId}}/scheduling/scene/{{scheduleDay.id}}">
                <span *ngIf="scheduleDay.scheduleDay.shootingDay.id!==0">#{{scheduleDay.scheduleDay.shootingDay.number}} </span>
                {{scheduleDay.scheduleDay.date | date}} {{scheduleDay.pageLength | pagelength}}
            </a>
        </md-list-item>
    </md-nav-list>
</div>
<div class="row">
    <span class="col s12">
        Total page length: {{getScheduledPageLength() | pagelength}}
    </span>
</div>