<div class="raccord-narrow-container">
  <div class="raccord-page-header">
    <a routerLink="{{getBackLink()}}">
      <back-link></back-link>
    </a>
    <div fxLayout="row">
      <h1 class="raccord-header-title">
        {{slate.number}} - {{slate.description}}
      </h1>
    </div>
  </div>
  <mat-card class="raccord-label-info">
    <div fxLayout="row"
      class="raccord-label-info-row"
      *ngIf="slate.shootingDay.id">
      <span fxFlex="50%" class="raccord-label">
        Shooting Day
      </span>
      <span fxFlex="50%" class="raccord-info">
        <a routerLink="{{getShootingDayLink()}}">
          {{slate.shootingDay.number}} - {{slate.shootingDay.date | date}}
        </a>
      </span>
    </div>
    <div fxLayout="row"
      class="raccord-label-info-row"
      *ngIf="slate.scene.id">
      <span fxFlex="50%" class="raccord-label">
        Scene
      </span>
      <span fxFlex="50%" class="raccord-info">
        <a routerLink="{{getSceneLink()}}">
          <scene-summary [scene]="slate.scene"></scene-summary>
        </a>
      </span>
    </div>
    <div fxLayout="row">
      <div fxFlex="25%">
        <div fxLayout="row"
        class="raccord-label-info-row">
          <span fxFlex="50%" class="raccord-label">
            Lens
          </span>
          <span fxFlex="50%" class="raccord-info">
            {{slate.lens}}
          </span>
        </div>
      </div>
      <div fxFlex="25%">
        <div fxLayout="row"
        class="raccord-label-info-row">
          <span fxFlex="50%" class="raccord-label">
            Distance
          </span>
          <span fxFlex="50%" class="raccord-info">
            {{slate.distance}}
          </span>
        </div>
      </div>
      <div fxFlex="25%">
        <div fxLayout="row"
        class="raccord-label-info-row">
          <span fxFlex="50%" class="raccord-label">
            Aperture
          </span>
          <span fxFlex="50%" class="raccord-info">
            T{{slate.aperture}}
          </span>
        </div>
      </div>
      <div fxFlex="25%">
        <div fxLayout="row"
        class="raccord-label-info-row">
          <span fxFlex="50%" class="raccord-label">
            Filters
          </span>
          <span fxFlex="50%" class="raccord-info">
            {{slate.filters}}
          </span>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="50%">
        <div fxLayout="row"
        class="raccord-label-info-row">
          <div fxFlex="50%" class="raccord-label">
            Camera Rolls
          </div>
          <div fxFlex="50%" class="raccord-info">
            {{getCameraRolls()}}
          </div>
        </div>
      </div>
      <div fxFlex="50%">
        <div fxLayout="row"
        class="raccord-label-info-row">
          <div fxFlex="50%" class="raccord-label">
            Sound Rolls
          </div>
          <div fxFlex="50%" class="raccord-info">
            {{getSoundRolls()}}
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-expansion-panel class="raccord-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Takes ({{slate.takes.length}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <takes-table [takes]="slate.takes" [projectId]="project.id"></takes-table>
  </mat-expansion-panel>
  <mat-expansion-panel class="raccord-expansion-panel" *ngIf="getCanComment()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments ({{getCommentCount()}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <comment-container [comments]="slate.comments" [projectId]="project.id" [parentId]="slate.id" [parentType]="getParentCommentType()"></comment-container>
  </mat-expansion-panel>
</div>