<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/images" class="breadcrumb">Images</a>
        <span class="breadcrumb">{{image.title}}</span>
    </div>
</div>
<div class="row">
    <edit-image [image]="viewImage" (submitImage)="updateImage()"></edit-image>
</div>
<div class="row">
    <div class="col s12">
        <show-image class="image-landing" [image]="image"></show-image>
    </div>
</div>
<div class="row">
    <h4>{{image.title}}</h4>
    <p>{{image.description}}</p>
    <p>
        <span class="image-link-item" *ngFor="let scene of image.scenes">
            <a routerLink="/projects/{{project.id}}/scenes/{{scene.id}}">
                {{scene.number}}. {{scene.intExt.name}} {{scene.scriptLocation.name}} {{scene.dayNight.name}} - {{scene.summary}}
            </a>
            <span class="remove-image-link action-span" (click)="removeSceneLink(scene)">(remove)</span>
        </span>
        <span class="image-link-item" *ngFor="let scriptLocation of image.scriptLocations">
            <a routerLink="/projects/{{project.id}}/scriptlocations/{{scriptLocation.id}}">
                {{scriptLocation.name}}
            </a>
            <span class="remove-image-link action-span" (click)="removeScriptLocationLink(scriptLocation)">(remove)</span>
        </span>
        <span class="image-link-item" *ngFor="let character of image.characters">
            <a routerLink="/projects/{{project.id}}/characters/{{character.id}}">
                {{character.number}}. {{character.name}}
            </a>
            <span class="remove-image-link action-span" (click)="removeCharacterLink(character)">(remove)</span>
        </span>
        <span class="image-link-item" *ngFor="let breakdownItem of image.breakdownItems">
            <a routerLink="/projects/{{project.id}}/breakdowns/items/{{breakdownItem.id}}">
                {{breakdownItem.name}}
            </a>
            <span class="remove-image-link action-span" (click)="removeBreakdownItemLink(breakdownItem)">(remove)</span>
        </span>
        <span class="image-link-item" *ngFor="let slate of image.slates">
            <a routerLink="/projects/{{project.id}}/slates/{{slate.id}}">
                Slate #{{slate.number}}
            </a>
            <span class="remove-image-link action-span" (click)="removeSlateLink(slate)">(remove)</span>
        </span>
    <p>
</div>
<div class="row action-row">
    <div class="col s12">
        <button md-button *ngIf="!image.isPrimaryImage" (click)="setAsPrimary(image)"><md-icon>flash_on</md-icon> Set as Primary for Project</button>
        <button md-button *ngIf="image.isPrimaryImage" (click)="removeAsPrimary(image)"><md-icon>flash_off</md-icon> Remove as Primary for Project</button>
    </div>
</div>
<div class="row">
    <h5>Add link</h5>
    <select-entity [projectId]="project.id"
                   [includeTypes]="imageLinkTypes"
                   (entitySelected)="linkImage($event)">
    </select-entity>
</div>