<span class="user-avatar">
  <show-profile-image *ngIf="getHasImage()" [user]="user" [userId]="userId" [fullName]="fullName" class="user-avatar-profile-image" [cardImage]="cardImage" [listAvatar]="listAvatar" [cardAvatar]="cardAvatar" [headerAvatar]="headerAvatar"></show-profile-image>
  <placeholder-image *ngIf="!getHasImage()" class="user-avatar-placeholder" [value]="getUserName()" [cardImage]="cardImage" [listAvatar]="listAvatar" [cardAvatar]="cardAvatar" [headerAvatar]="headerAvatar"></placeholder-image>
</span>