<md-card>
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <span class="breadcrumb">Script Locations</span>
</md-card>
<md-card>
    <md-nav-list>
        <a md-list-item [routerLink]="[scriptLocation.id]" 
           *ngFor="let scriptLocation of scriptLocations">
            <show-image *ngIf="scriptLocation.primaryImage.id!=0" [image]="scriptLocation.primaryImage" [listAvatar]="true"></show-image>
            {{scriptLocation.name}} ({{scriptLocation.sceneCount}})
        </a>
    </md-nav-list>
</md-card>