<form autocomplete="off">
    <md-input-container class="search-input-container">
        <input mdInput placeholder="Search" [(ngModel)]="searchText" name="searchText" (keyup)="doSearch()" autocomplete="off">
    </md-input-container>
    <div class="search-result-container" *ngIf="showSearchResults">
        <div class="search-type-result" *ngFor="let typeResult of searchTypeResults">
            <label class="search-type-info">{{typeResult.type}} ({{typeResult.count}})</label>
            <md-nav-list>
                <raccord-search-result *ngFor="let result of typeResult.results" [result]="result" [searchText]="searchText">
                </raccord-search-result>
            </md-nav-list>
        </div>
        <label *ngIf="searchTypeResults.length==0">No results</label>
    </div>
</form>