<md-card>
    <a routerLink="/" class="breadcrumb">Dashboard</a>
    <a routerLink="/projects" class="breadcrumb">Projects</a>
    <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
    <a routerLink="/projects/{{project.id}}/characters" class="breadcrumb">Characters</a>
    <span class="breadcrumb">{{character.name}}</span>
</md-card>
<md-card *ngIf="getCanEdit()">
    <edit-character [character]="viewCharacter" (submitCharacter)="updateCharacter()"></edit-character>
</md-card>
<md-tab-group>
    <md-tab *ngIf="getCanComment()"
            label="Comments">
        <comment-container [projectId]="project.id" [parentId]="character.id" [parentType]="getParentCommentType()"></comment-container>
    </md-tab>
  <md-tab label="Scenes">
      <character-scenes [scenes]="character.scenes" [characterId]="character.id" [projectId]="project.id"></character-scenes>
  </md-tab>
  <md-tab label="Cast">
      <character-cast-member [castMember]="character.castMember" [characterId]="character.id" [projectId]="project.id"></character-cast-member>
  </md-tab>
  <md-tab label="Pictures">
      <character-images [images]="character.images" [characterId]="character.id" [projectId]="project.id"></character-images>
  </md-tab>
  <md-tab label="Schedule">
      <character-schedule [scheduleDays]="character.scheduleDays" [characterId]="character.id" [projectId]="project.id"></character-schedule>
  </md-tab>
</md-tab-group>