<form class="col s12"
        id="location_form"
        #locationForm = "ngForm"
        (ngSubmit)="doScriptLocationSubmit()">
    <div fxLayout="row" fxLayoutGap="10px">
        <md-input-container fxFlex="25%">
            <input mdInput placeholder="Name" id="location_name" required [(ngModel)]="scriptLocation.name" #name="ngModel" name="location_name">
        </md-input-container>
        <md-input-container fxFlex="75%">
            <input mdInput placeholder="Description" id="location_description" [(ngModel)]="scriptLocation.description" #description="ngModel" name="location_description">
        </md-input-container>
    </div>
    <div fxLayout="row">
        <div class="col s12">
            <button md-raised-button type="submit"[disabled]="!locationForm.form.valid">Save</button>
        </div>
    </div>
</form>