<div class="row">      
    <div class="col s12">
        <a routerLink="/" class="breadcrumb">Dashboard</a>
        <a routerLink="/projects" class="breadcrumb">Projects</a>
        <a routerLink="/projects/{{project.id}}" class="breadcrumb">{{project.title}}</a>
        <a routerLink="/projects/{{project.id}}/sceneproperties" class="breadcrumb">Scene Properties</a>
        <span class="breadcrumb">Int/Ext</span>
    </div>
</div>
<div class="row">
    <edit-int-ext [intext]="viewNewIntExt" (submitIntExt)="addIntExt()"></edit-int-ext>
</div>
<div class="row">
    <md-nav-list [dragula]='"int-ext-bag"' 
                 [dragulaModel]='intExts'>
        <a md-list-item routerLink="/projects/{{project.id}}/intexts/{{intExtWrapper.intExt.id}}" 
           *ngFor="let intExtWrapper of intExts"
           [ngClass]="{'can-delete': intExtWrapper.intExt.sceneCount==0}"
           class="drag-element drag-delete drag-merge">
           <md-icon class=drag-handle>drag_handle</md-icon>
            {{intExtWrapper.intExt.name}} ({{intExtWrapper.intExt.sceneCount}})
            <span class="drop-container drop-merge-container"
                  [dragula]='"int-ext-bag"' 
                  [dragulaModel]='intExtWrapper.dropIntExts'
                  *ngIf="draggingToMerge">
                <md-icon>merge_type</md-icon>                
            </span>
        </a>
    </md-nav-list>
</div>
<div class="delete-int-ext drop-container drop-delete-container" 
     [dragula]="'int-ext-bag'" 
     *ngIf="draggingToDelete" 
     [dragulaModel]='deleteIntExts'>
    <md-icon>delete</md-icon>
</div>