<div class="row">
    <md-nav-list>
        <md-list-item 
            *ngFor="let character of characters">
            <show-image *ngIf="character.primaryImage.id!=0" [image]="character.primaryImage" [listAvatar]="true"></show-image>
            <a routerLink="/projects/{{projectId}}/characters/{{character.id}}">
                <character-summary [character]="character"></character-summary>
            </a>
            <button md-button (click)="removeLink(character)" *ngIf="getCanEdit()"><md-icon>delete</md-icon></button>
        </md-list-item>
    </md-nav-list>
</div>