<div fxLayout="row" fxLayoutGap="10px">
    <search-character fxFlex="25%" [searchCharacter]="searchCharacter" (setCharacter)="addCharacter()" [excludeCharacters]="characters"></search-character>
    <md-chip-list fxFlex="75%" md-line>
        <a *ngFor="let character of characters">
            <md-chip>
                <character-summary [character]="character"></character-summary>
                <md-icon (click)="removeCharacter(character)">cancel</md-icon>
            </md-chip>
        </a>
    </md-chip-list>
</div>